

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "tip1.jpg" %>
      <div class="carousel-caption">
        Put the chart in a place where everyone can see it.
      </div>
    </div>
    <div class="item">
      <%= image_tag "tip2.jpg" %>
      <div class="carousel-caption">
        Resize a swiffer for little bodies.
      </div>
    </div>
    <div class="item">
      <%= image_tag "tip3.jpg" %>
      <div class="carousel-caption">
        Involve the kids in creating tasks.
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<p>

</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is Top of the Hour and why did you create it?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        I created this system last summer when I was overwhelmed by the amount of cleaning I was doing around our home while three kids seemed to go from room to room undoing my work throughout the day. My goal was to get them invested and involved in keeping our home an enjoyable place to be for all of us.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How old should my kids be?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        I don't know that there is a lower or upper age limit. I've used this system myself with kids between 2 and 9. I give the kids tasks to match their ability level. I also pair them up with one another with one being the lead and the other being the assistant. Sometimes the lead is the older child and sometimes the lead is the younger child.

        I've also found the system really helpful for myself when I'm feeling overwhelmed by the cleaning tasks that need to get done or when I feel like I just don't have time to do anything. Everyone can carve out 2 minutes to do something simple.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What supplies did you get for your kids?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        My favorite supplies are:
        <ul>
          <li>spray bottle filled with water and a little vinegar or lemon juice</li>
          <li>absorbent cloths cut to child size</li>
          <li>a swiffer at full size or with the middle bar removed for the younger kids</li>
          <li>a little basket for moving groups of items from one room to another</li>
          <li>a fun timer</li>
          <li>a lightweight stepstool that smaller kids can move themselves</li>
        </ul>
      </div>
    </div>
  </div>
</div>
